<html ng-app>
<head>
  <script src="file:///android_asset/angular.min.js"></script>
</head>
<body>
<h1>Hello Angular</h1>
<input ng-model="name" placeholder="your name"/>
<div>Hello {{name}}!</div>
</body>
</html>